<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.pe.eta.service.callres.CallResDao">
	<resultMap id="callSelectMap" type="Call">
		<result property="callNo" column="call_no" jdbcType="NUMERIC" />
		<result property="callCode" column="call_code" jdbcType="VARCHAR" />
		<result property="realPay" column="real_pay" jdbcType="NUMERIC" />
		<result property="startAddr" column="start_addr" jdbcType="VARCHAR" />
		<result property="startKeyword" column="start_keyword"
			jdbcType="VARCHAR" />
		<result property="startX" column="start_x" jdbcType="NUMERIC" />
		<result property="startY" column="start_y" jdbcType="NUMERIC" />
		<result property="endAddr" column="end_addr" jdbcType="VARCHAR" />
		<result property="endKeyword" column="end_keyword" jdbcType="VARCHAR" />
		<result property="endX" column="end_x" jdbcType="NUMERIC" />
		<result property="endY" column="end_y" jdbcType="NUMERIC" />
		<result property="callStateCode" column="call_state_code"
			jdbcType="VARCHAR" />
	</resultMap>

	<update id="updateEndXY" parameterType="call">
		UPDATE call
		SET end_X = #{endX} and end_Y = #{endY}
		WHERE call_No = #{callNo}
	</update>

	<update id="updateCallStateCode" parameterType="call">
		UPDATE call
		SET call_state_code = #{callStateCode}
		WHERE call_No = #{callNo}
	</update>

	<select id="getRecordList" parameterMap="map" resultMap="callSelectMap">
    SELECT *
    FROM (
        SELECT inner_table.*, ROWNUM AS row_seq
        FROM (
            SELECT c.* 
            FROM call c 
            JOIN match m ON c.call_no = m.call_no 
            WHERE (
                m.passenger_no = #{userNo} 
                OR m.driver_no = #{userNo} 
                OR m.call_no IN (
                    SELECT s.call_no 
                    FROM shares s 
                    WHERE s.other_share_passenger_no = #{userNo}
                )
            )
            <if test="searchCondition != null">
                AND EXTRACT(MONTH FROM c.call_date) = #{searchCondition}
            </if>
            ORDER BY c.call_date DESC
        ) inner_table
        WHERE ROWNUM &lt;= #{endRowNum}
    )
    WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<select id="getCallResList" parameterMap="map" resultMap="callSelectMap">
		SELECT *
    	FROM (
        	SELECT inner_table.*, ROWNUM AS row_seq
        	FROM (
            	SELECT c.*, m.passenger_no, m.driver_no
            	FROM call c
            	JOIN match m ON c.call_no = m.call_no
            	ORDER BY c.call_date DESC
        	) inner_table
        	WHERE ROWNUM &lt;= #{endRowNum}
    	)
    	WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<select id="getReservationList" parameterMap="map" resultMap="callSelectMap">
		SELECT *
    	FROM (
        	SELECT inner_table.*, ROWNUM AS row_seq
        	FROM (
            	SELECT c.*
            	FROM call c
            	JOIN match m ON c.call_no = m.call_no
            	WHERE (
                	m.passenger_no = #{userNo} 
                	OR m.driver_no = #{userNo}
            	)
            	AND c.call_state_code = '예약중'
            	<if test="month != null">
                	AND EXTRACT(MONTH FROM c.call_date) = #{month}
            	</if>
            	ORDER BY c.call_date DESC
        	) inner_table
        	WHERE ROWNUM &lt;= #{endRowNum}
    	)
    	WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	</select>

	<select id="getRecord" parameterType="int" resultMap="callSelectMap">
		SELECT * 
    	FROM call 
    	WHERE call_no = #{callNo}
	</select>

</mapper>