<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.pe.eta.service.callreq.CallReqDao">

  <resultMap id="callReqSelectMap" type="Call">
    <result property="callNo"       column="call_no"       jdbcType="NUMERIC"/>
    <result property="callCode" column="call_code"    jdbcType="VARCHAR" />
    <result property="callDate" column="call_date"    jdbcType="DATE" />
    <result property="realPay"         column="real_pay"          jdbcType="NUMERIC" />
    <result property="startAddr"         column="start_addr"          jdbcType="VARCHAR" />
    <result property="startKeyword"       column="start_keyword"    jdbcType="VARCHAR" />
    <result property="startX"        column="start_x"           jdbcType="NUMERIC" />
    <result property="startY"        column="start_y"           jdbcType="NUMERIC" />
    <result property="endAddr"     column="end_addr"       jdbcType="VARCHAR" />
    <result property="endKeyword"     column="end_keyword"       jdbcType="VARCHAR" />
    <result property="endX"     column="end_x"      jdbcType="NUMERIC" />
    <result property="endY"     column="end_y"      jdbcType="NUMERIC" />
    <result property="callStateCode"     column="call_state_code"      jdbcType="VARCHAR" />
    <result property="star"     column="star"      jdbcType="NUMERIC" />
    <result property="routeOpt"     column="route_opt"      jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap type="Like" id="LikeSelectMap">
      <result property="likeNo"        column="LIKE_NO"       jdbcType="NUMERIC"/>
      <result property="userNo"   column="USER_NO"      jdbcType="NUMERIC"/>
      <result property="likeName"   column="LIKE_NAME"      jdbcType="VARCHAR"/>
      <result property="likeAddr"     column="LIKE_ADDR"     jdbcType="VARCHAR"/>
  </resultMap>
  
  <resultMap id="userSelectMap" type="User">
    <result property="userNo"       column="user_no"       jdbcType="NUMERIC"/>
    <result property="carOpt"     column="car_opt"      jdbcType="NUMERIC" />
    <result property="petOpt"     column="pet_opt"      jdbcType="NUMERIC" />
  </resultMap>

  <select id="getEndAddrList" parameterType="int" resultMap="callReqSelectMap">
       SELECT * FROM call
       WHERE call_no IN (SELECT call_no FROM match WHERE passenger_no = #{userNo:NUMERIC} AND call_state_code = '운행완료')
       ORDER BY call_date DESC
  </select>
  
    <select id="getLikeList" parameterType="int" resultMap="LikeSelectMap">
       SELECT * FROM likes WHERE user_no = #{userNo:NUMERIC}
  </select>

   <insert  id="addLikeList"    parameterType="int" >
     <![CDATA[
     BEGIN             
      INSERT INTO likes (like_no, user_no, like_name, like_addr) VALUES (1000, #{userNo:NUMERIC}, '집', null);
      INSERT INTO likes (like_no, user_no, like_name, like_addr) VALUES (1001, #{userNo:NUMERIC}, '회사', null);
      INSERT INTO likes (like_no, user_no, like_name, like_addr) VALUES (1002, #{userNo:NUMERIC}, null, null);      
     END;
    ]]>
   </insert>
   
<insert id="addCall" parameterType="Call">
  <![CDATA[
  DECLARE
    v_call_no NUMBER;
  BEGIN
    INSERT INTO call 
    (call_no, call_code, call_date, real_pay, start_addr, start_keyword, start_x, start_y, end_addr, end_keyword, end_x, end_y, call_state_code, star, route_opt) 
    VALUES 
    (seq_call_call_no.NEXTVAL, #{callCode:VARCHAR}, SYSDATE, #{realPay:NUMERIC}, #{startAddr:VARCHAR}, #{startKeyword:VARCHAR}, #{startX:NUMERIC}, #{startY:NUMERIC}, #{endAddr:VARCHAR}, #{endKeyword:VARCHAR}, #{endX:NUMERIC}, #{endY:NUMERIC}, '운행전', 0, #{routeOpt:VARCHAR})
    RETURNING call_no INTO v_call_no;

    INSERT INTO match (call_no, passenger_no, driver_no) VALUES (v_call_no, #{userNo:NUMERIC}, null);
  END;
  ]]>
</insert>

  <select id="getCallNo" resultType="int">
       SELECT seq_call_call_no.CURRVAL FROM dual
  </select>
        
  <delete  id="deleteCall"  parameterType="int" >
    <![CDATA[
    BEGIN
       DELETE FROM match
       WHERE call_no = #{callNo:NUMERIC};
       
       DELETE FROM call
       WHERE call_no = #{callNo:NUMERIC};
    END;
    ]]>
  </delete>
  
    <select id="getCallDriverList" parameterType="map" resultMap="userSelectMap">
      SELECT user_no FROM users WHERE car_opt=#{carOpt} AND pet_opt=#{petOpt} 
   </select>
  
    <update id="updateDealCode" parameterType="int">
      UPDATE call SET deal_code = '1' WHERE call_no =  #{callNo:NUMERIC}
   </update>
  
   <update id="updateShareCode" parameterType="int">
    UPDATE call SET share_code = '1' WHERE call_no =  #{callNo:NUMERIC}
   </update>
   
   <update id="updateLikeAddr" parameterType="map">
    UPDATE likes SET like_addr = #{likeAddr:VARCHAR} WHERE user_no = #{userNo:NUMERIC} AND like_no= #{likeNo:NUMERIC}
   </update>
   
   <update id="updateCustomName" parameterType="map">
    UPDATE likes SET like_name = #{likeName:VARCHAR} WHERE user_no = #{userNo:NUMERIC} AND like_no= 1002
   </update>
   
   <update id="deleteLikeAddr" parameterType="map">
    UPDATE likes SET like_addr = null WHERE user_no = #{userNo:NUMERIC} AND like_no= #{likeNo:NUMERIC}
   </update>
   
   <update id="deleteCustomName" parameterType="int">
    UPDATE likes SET like_name = null WHERE user_no = #{userNo:NUMERIC} AND like_no= 1002
   </update>

</mapper>