<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="callSettersOnNulls" value="false"/>
    </settings>

    <typeAliases>
        <typeAlias alias="user" type="kr.pe.eta.domain.User"/>
        <typeAlias alias="blacklist" type="kr.pe.eta.domain.Blacklist"/>
        <typeAlias alias="block" type="kr.pe.eta.domain.Block"/>
        <typeAlias alias="call" type="kr.pe.eta.domain.Call"/>
        <typeAlias alias="dealreq" type="kr.pe.eta.domain.DealReq"/>
        <typeAlias alias="dealreqdriver" type="kr.pe.eta.domain.DealReqDriver"/>
        <typeAlias alias="like" type="kr.pe.eta.domain.Like"/>
        <typeAlias alias="notice" type="kr.pe.eta.domain.Notice"/>
        <typeAlias alias="pay" type="kr.pe.eta.domain.Pay"/>
        <typeAlias alias="report" type="kr.pe.eta.domain.Report"/>
        <typeAlias alias="sharereq" type="kr.pe.eta.domain.ShareReq"/>
        <typeAlias alias="sharereqpassenger" type="kr.pe.eta.domain.ShareReqPassenger"/>
        <typeAlias alias="star" type="kr.pe.eta.domain.Star"/>
        <typeAlias alias="search" type="kr.pe.eta.common.Search"/>
        <typeAlias alias="cash" type="kr.pe.eta.domain.Cash"/>
    </typeAliases>

    <mappers>
        <mapper resource="sql/UserMapper.xml"/>
        <mapper resource="sql/CallReqMapper.xml"/>
        <mapper resource="sql/CallResMapper.xml"/>
        <mapper resource="sql/CommunityMapper.xml"/>
        <mapper resource="sql/FeedbackMapper.xml"/>
        <mapper resource="sql/NoticeMapper.xml"/>
        <mapper resource="sql/PayMapper.xml"/>
    </mappers>

</configuration>